body{
    text-align: center;
    font-family:'Trebuchet MS', sans-serif;
}

#container{
    text-align: center;
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
}

#convert{
    margin-top: 2%;
    background-color:rgb(23, 200, 23);
    height: 50px;
    width: 150px;
}

#clear{
    margin-top: 2%;
    background-color: #b85252;
    height: 50px;
    width: 150px;
}

#clear:hover{
    margin-top: 2%;
    background-color: #803a3a;
}

#convert:hover{
    background-color: #1a891e;
}

input{
    height: 50px;
    width: 300px;
    display: block;
    padding: 5px;
    margin-top: 10px;
    font-size: 2em;
    color: rgb(121, 101, 219);
    margin: 5%;
    border-radius: 20%;
    text-align: center;
    display: inline-block;
}

::-webkit-input-placeholder{
    color: #ccc;
}

:-moz-placeholder{
    color: #ccc;
}

::-moz-placeholder{
    color: #ccc;
}

:-ms-input-placeholder{
    color: #ccc;
}

button{
    padding: 5px;
    font-size: 1.2em;
    color: #ffffff;
    margin: 2%;
}